body {
  margin: 0;
  color: #333;
  background-color: #e9e9e9;
  overflow: hidden;
  -ms-overflow-style: none;
  font-family: "Roboto Mono", "Noto Sans KR", sans-serif;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

a.active {
  color: #eb3d3d;
  font-weight: 800;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.vertical-list {
  display: flex;
  flex-direction: column;
}

.horizontal-list {
  display: flex;
  flex-direction: row;
}

.card-list {
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  position: relative;
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 100px;
  overflow: hidden;
  height: 350px;
  box-shadow: 0 0 10px #ddd;
}

.card .card-img {
  width: 100%;
}
.card .card-desc {
  position: absolute;
  height: 95%;
  background-color: #fff;
  margin-right: 10px;
  transition: top 0.3s ease-in-out;
}

.card:hover {
  .card-desc {
    top: 10px !important;
    overflow: auto;
  }
  .ellipsis {
    overflow: visible;
    display: block;
  }
}
.card .card-content {
  height: 100%;
}

.card .card-title {
  margin: 5px 0;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
::-webkit-scrollbar {
  display: none;
}
