.title {
  margin: 0;
  padding: 0;
}

.grid {
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: grid;
  flex-direction: column;
  list-style: none;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

.grid li {
  padding: 10px;
}

.gridColumn {
  border-bottom: 1px solid #e4e4e4;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 800;
  text-align: center;
}

.gridRow {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.gridRow:hover {
  background-color: #ddd;
}

.footer {
  color: #777;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
}
