.foldableListSubItemsSpread {
  height: auto;
  margin: 0.625rem;
}

.foldableListSubItemsFold {
  height: 0px;
  margin: 0 !important;
}

.foldableSpread {
  transform: rotate(0deg);
  transition: transform 0.1s;
}

.foldableSpreadRotated {
  transform: rotate(90deg);
  transition: transform 0.1s;
}

.foldableList {
}

.foldableList > .foldableListTitle {
  margin: 0.125rem 0;
  font-weight: 400;
  color: #ccc;
  font-size: 0.9rem;
}

.foldableList > .foldableListItem {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  left: -3px;
}

.foldableList > .foldableListItem > li > .foldableListItemTitle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.foldableList > .foldableListItem > li > .foldableListItemTitle > h2 {
  margin: 0;
  font-size: 1.1rem;
  padding-top: 2px;
}

.foldableList > .foldableListItem > li > ul {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin: 0.625rem 0;
  padding: 0;
  list-style: none;
  position: relative;
  left: 30px;
}
